[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Eclipse Titan
	owner = group user/Elemer Lelik (erititan)
[access "refs/for/refs/*"]
	read = group Eclipse Titan
	read = group user/Elemer Lelik (erititan)
	push = group Eclipse Titan
	push = group user/Elemer Lelik (erititan)
	label-Code-Review = -2..+2 group Eclipse Titan
	label-Code-Review = -2..+2 group user/Elemer Lelik (erititan)
	label-Verified = -1..+1 group Eclipse Titan
	label-Verified = -1..+1 group user/Elemer Lelik (erititan)
	rebase = group Eclipse Titan
	rebase = group user/Elemer Lelik (erititan)
	removeReviewer = group Eclipse Titan
	removeReviewer = group user/Elemer Lelik (erititan)
	submit = group Eclipse Titan
	submit = group user/Elemer Lelik (erititan)
[access "refs/heads/*"]
	read = group Eclipse Titan
	read = group user/Elemer Lelik (erititan)
	create = group Eclipse Titan
	create = group user/Elemer Lelik (erititan)
	push = group Eclipse Titan
	push = +force group user/Elemer Lelik (erititan)
	pushMerge = group Eclipse Titan
	pushMerge = group user/Elemer Lelik (erititan)
[access "refs/tags/*"]
	push = group Eclipse Titan
	push = +force group user/Elemer Lelik (erititan)
	createSignedTag = group Eclipse Titan
	createSignedTag = group user/Elemer Lelik (erititan)
	createTag = group Eclipse Titan
	createTag = group user/Elemer Lelik (erititan)
